*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}



:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
  
  --Weight-400: 400;
  --Weight-600: 600;
  --Weight-700: 700;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url(assets/fonts/RedHatText-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url(assets/fonts/RedHatText-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Red Hat Text';
  src: url(assets/fonts/RedHatText-Bold.ttf);
  font-weight: 700;
}

body {
  background-color: var(--Rose-100);
}

.title {
  font-size: 2.5rem;

}
/* typography  */

.category {
  font-size: 0.9rem;
  color: var(--Rose-500);
}

.name_product {
  color: var(--Rose-900);
  font-weight: var(--Weight-600);
}

.price {
  color: var(--Red);
  font-weight: var(--Weight-600);
}
.title_wrapping_container{
  display:flex;
  flex:1;
 flex-direction:column;

  margin-bottom:2em;
}

/* body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: whitesmoke;
} */

.desserts_section{
  flex:1;
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  align-items:start;
  gap: 2rem;
} 


.main_container_dessert {
   flex-direction: column;
  align-items: flex-start;
  max-width: max-content;
}

.img_dessert_container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}
.image_dessert{
      width: 100%;
  border-radius: 0.5rem;
  max-width: 20.4375rem;
}

.addToCart {
  width: 10rem;
  border-radius: 2rem;
  border: solid 0.12rem var(--Rose-400);
  font-weight: var(--Weight-600);
  font-size: 0.97rem;
  background-color: var(--Rose-50);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.4rem;
  padding: 0.65rem;
  position: relative;
  bottom: 1.5rem;
}

.product_info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding:0.5em;
}
.section_cart{
  max-width:350px;
   /* align-self:start;  */
  gap:2em;
  background-color:var(--Rose-50);
  display:flex;
  flex-direction:column;
  align-items:center;

}
.principal_container{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:2em;
  padding:2em;
}
.addedtoCart{
position:relative;
/* bottom:0; */
}

/* 
.contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contact-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
}

.info-group {
    display: flex;
    align-items: center;
}

.info-group > img {
    height: 11px;
    margin-right: 8px;
}

.info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
} */

/* functionalities adding elements */
.counter_container{
    border: solid var(--Red) 1px;
    border-radius: 2rem;
    width: 8.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
     position:absolute; 
    top:18rem;
    left:6rem;
}
.addtoCart:hover{
    background-color: var(--Rose-100);
    cursor: pointer;

}
 .increment, .decrement {
        border: solid var(--Rose-50) 1px;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        padding: 2px;
        /* display: none; */
      }


      .addtoCardInteraction{
        background-color: var(--Red);
        border: solid var(--Red) 0.12rem;
        color: var(--Rose-50);
        font-weight: var(--Weight-400);
        justify-content: space-around;
        gap: 2rem;
        height: 2.823125rem;
      }
      /* .addtoCartContainer{
        position:absolute;
       
      } */
